body {
    background-image: url("images/pexels-pixabay-268533.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.content {
    color: #D2F5F9;
    text-align: center;
    padding: 10px;
    margin: auto;
    max-width: 700px;
    background: rgba(0, 0, 0, 0.3);
    
}


.content p {
    font-size: 30px;
    color: green;
}

.country li {
    text-decoration: none; 
    color: blue;
    font-size: 20px;
    margin: auto;
    background-color: black;
}

ul {
    list-style: none;
    color: black;
}